/* Main Bloc */

header {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #444444;
    color: white;
}

footer {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 100px;
}

div-hori {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
}

p {
    text-align: start;
    line-height: 1.5em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Link */

a {
    color: wheat;
}

/* Buttons */

.menu-butt {
    margin: 2%;
    height: 35px;
    border-radius: 5px;
    background-color: #B481F6;
    color: black;
}

.menu-butt:disabled {
    background-color: #792FDA;
}

.menu-butt:hover:enabled {
    background-color: #E0C8FF;
}

.butt-accueil {
    width: 130px;
}

.butt-diplome {
    width: 150px;
}

.butt-pro {
    width: 300px;
}

.butt-projet {
    width: 200px;
}

.butt-prof {
    width: 260px;
}

.mini-butt {
    margin: 2%;
    border-radius: 5px;
    background-color: #81A2F6;
    color: black;
    height: 40px;
    width: 70px;
}

.mini-butt:disabled {
    background-color: #2E68FB;
}

.mini-butt:hover:enabled {
    background-color: #B4C9FF;
}

/* Image */

img {
    margin: 5%;
}

.pdp {
    border-radius: 50px;
}

.icone {
    width: 50px;
}

.logo_univ {
    width: 400px;
    height: 245px;
}

.logo_lycee {
    width: 400px;
    height: 266px;
}

.logo_college {
    width: 400px;
    height: 128px;
}

.img_pin {
    width: 30px;
    height: 62px;
}

.logo_darva {
    width: 600px;
    height: 197px;
}

.logo_xlim {
    width: 447px;
    height: 166px;
}

.logo_csp {
    width: 800px;
    height: 298px;
}

.logo_gauntlet {
    width: 800px;
    height: 442px;
}

.logo_hessdoku {
    width: 800px;
    height: 419px;
}

.logo_myceblob {
    width: 400px;
    height: 393px;
}

.logo_chess {
    width: 700px;
    height: 457px;
}