/* Main Bloc */

header {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #444444;
    color: white;
}

footer {
    display: flex;
    flex-direction: row !important;
    align-items: center;
}

div-hori {
    display: flex;
    flex-direction: row !important;
    align-items: center;
}

/* Buttons */

.menu-butt {
    margin: 2%;
    height: 40px;
    border-radius: 5px;
    background-color: #B481F6;
    color: black; 
}

.butt-accueil {
    width: 100px;
}

.butt-diplome {
    width: 100px;
}

.butt-pro {
    width: 100px;
}

.butt-projet {
    width: 100px;
}

.mini-butt {
    height: 40px !important;
    width: 70px !important;
}

/* Image */

.pdp {
    border-radius: 50px;
}

img {
    margin: 5%;
}

.logo_univ {
    width: 400px;
    height: 245px;
}

.logo_lycee {
    width: 400px;
    height: 266px;
}

.logo_college {
    width: 400px;
    height: 128px;
}

.img_pin {
    width: 30px;
    height: 62px;
}